<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a097cc">  <td>16/11/28 13:40:01</td>   <td>0</td> <td title="&lt;&lt;Test1.exit()[pri:0, instance:zavrsni.Test1@675d3402]">&lt;&lt;exit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1204167249</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/11/28 13:39:51</td>   <td>-9152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.loginTest()[pri:0, instance:zavrsni.Test1@675d3402]">loginTest</td> 
  <td>main@1204167249</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/11/28 13:39:38</td>   <td>-22296</td> <td title="&gt;&gt;Test1.setUp()[pri:0, instance:zavrsni.Test1@675d3402]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1204167249</td>   <td></td> </tr>
</table>
