<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f792cf">  <td>16/11/18 19:37:43</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;DeleteStudentTest.closeSelenium()[pri:0, instance:ssluzba.test.DeleteStudentTest@7c0e2abd]">&lt;&lt;closeSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1364614850</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>16/11/18 19:37:31</td>   <td>-12778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteStudentTest.deleteStudent()[pri:0, instance:ssluzba.test.DeleteStudentTest@7c0e2abd]">deleteStudent</td> 
  <td>main@1364614850</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>16/11/18 19:37:31</td>   <td>-12794</td> <td>&nbsp;</td><td title="&gt;&gt;DeleteStudentTest.setupPages()[pri:0, instance:ssluzba.test.DeleteStudentTest@7c0e2abd]">&gt;&gt;setupPages</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1364614850</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>16/11/18 19:37:26</td>   <td>-17235</td> <td title="&gt;&gt;DeleteStudentTest.setupSelenium()[pri:0, instance:ssluzba.test.DeleteStudentTest@7c0e2abd]">&gt;&gt;setupSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1364614850</td>   <td></td> </tr>
</table>
