<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RunAllTests</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f792cf">  <td>16/10/23 15:35:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddStudentTest.addStudentTest()[pri:0, instance:ssluzba.test.AddStudentTest@573f2bb1]">addStudentTest</td> 
  <td>main@2015601401</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>16/10/23 15:35:46</td>   <td>8653</td> <td>&nbsp;</td><td title="&lt;&lt;AddStudentTest.closeSelenium()[pri:0, instance:ssluzba.test.AddStudentTest@573f2bb1]">&lt;&lt;closeSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2015601401</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>16/10/23 15:35:46</td>   <td>8687</td> <td>&nbsp;</td><td title="&lt;&lt;DeleteStudentTest.closeSelenium()[pri:0, instance:ssluzba.test.DeleteStudentTest@5ae9a829]">&lt;&lt;closeSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2015601401</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>16/10/23 15:35:46</td>   <td>8606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteStudentTest.deleteStudent()[pri:0, instance:ssluzba.test.DeleteStudentTest@5ae9a829]">deleteStudent</td> 
  <td>main@2015601401</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>16/10/23 15:35:46</td>   <td>8553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditStudentTest.editStudent()[pri:0, instance:ssluzba.test.EditStudentTest@402f32ff]">editStudent</td> 
  <td>main@2015601401</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>16/10/23 15:35:38</td>   <td>-32</td> <td>&nbsp;</td><td title="&gt;&gt;AddStudentTest.setupPages()[pri:0, instance:ssluzba.test.AddStudentTest@573f2bb1]">&gt;&gt;setupPages</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2015601401</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>16/10/23 15:35:38</td>   <td>-19</td> <td>&nbsp;</td><td title="&gt;&gt;DeleteStudentTest.setupPages()[pri:0, instance:ssluzba.test.DeleteStudentTest@5ae9a829]">&gt;&gt;setupPages</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2015601401</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>16/10/23 15:35:38</td>   <td>-17</td> <td>&nbsp;</td><td title="&gt;&gt;EditStudentTest.setupPages()[pri:0, instance:ssluzba.test.EditStudentTest@402f32ff]">&gt;&gt;setupPages</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2015601401</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>16/10/23 15:35:20</td>   <td>-17944</td> <td title="&gt;&gt;AddStudentTest.setupSelenium()[pri:0, instance:ssluzba.test.AddStudentTest@573f2bb1]">&gt;&gt;setupSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2015601401</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>16/10/23 15:35:26</td>   <td>-11641</td> <td title="&gt;&gt;DeleteStudentTest.setupSelenium()[pri:0, instance:ssluzba.test.DeleteStudentTest@5ae9a829]">&gt;&gt;setupSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2015601401</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>16/10/23 15:35:32</td>   <td>-5580</td> <td title="&gt;&gt;EditStudentTest.setupSelenium()[pri:0, instance:ssluzba.test.EditStudentTest@402f32ff]">&gt;&gt;setupSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2015601401</td>   <td></td> </tr>
</table>
