<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>unittesting.calculator.CalculatorTestParameterized</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestDivNot0By0</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestSub</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMult0By0</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestDiv0ByNot0</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestDivNot0ByNot0</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestAdd</td>
<td>Odabrana metoda </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestDiv0By0</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestSqNot0</td>
<td>Odabrana metoda </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestMultNot0ByNot0</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMult0ByNot0</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMultNot0By0</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestSq0</td>
<td>Odabrana metoda </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Clear</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
