<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Odabrana metoda</td><td>CalculatorTestParameterized.TestAdd(int)[pri:0, instance:unittesting.calculator.CalculatorTestParameterized@32d992b2]<br/>CalculatorTestParameterized.TestSq0()[pri:0, instance:unittesting.calculator.CalculatorTestParameterized@32d992b2]<br/>CalculatorTestParameterized.TestSqNot0(int)[pri:0, instance:unittesting.calculator.CalculatorTestParameterized@32d992b2]<br/></td></tr>
</table>
