<h2>Methods that were not run</h2><table>
<tr><td>unittesting.calculator.CalculatorTestParameterized.TestMult0By0</td></tr>
<tr><td>unittesting.calculator.CalculatorTestParameterized.TestMult0ByNot0</td></tr>
<tr><td>unittesting.calculator.CalculatorTestParameterized.TestMultNot0ByNot0</td></tr>
<tr><td>unittesting.calculator.CalculatorTestParameterized.TestMultNot0By0</td></tr>
</table>