<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67b872">  <td>16/09/28 18:44:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTestParameterized.Clear()[pri:0, instance:unittesting.calculator.CalculatorTestParameterized@32d992b2]">&gt;&gt;Clear</td> 
<td>&nbsp;</td>  <td>main@1529306539</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>16/09/28 18:44:33</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTestParameterized.TestAdd(int)[pri:0, instance:unittesting.calculator.CalculatorTestParameterized@32d992b2]">TestAdd</td> 
  <td>main@1529306539</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>16/09/28 18:44:33</td>   <td>99</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTestParameterized.Clear()[pri:0, instance:unittesting.calculator.CalculatorTestParameterized@32d992b2]">&gt;&gt;Clear</td> 
<td>&nbsp;</td>  <td>main@1529306539</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>16/09/28 18:44:33</td>   <td>99</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTestParameterized.TestDiv0By0()[pri:0, instance:unittesting.calculator.CalculatorTestParameterized@32d992b2]">TestDiv0By0</td> 
  <td>main@1529306539</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>16/09/28 18:44:33</td>   <td>165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTestParameterized.Clear()[pri:0, instance:unittesting.calculator.CalculatorTestParameterized@32d992b2]">&gt;&gt;Clear</td> 
<td>&nbsp;</td>  <td>main@1529306539</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>16/09/28 18:44:33</td>   <td>165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTestParameterized.TestDiv0ByNot0(int)[pri:0, instance:unittesting.calculator.CalculatorTestParameterized@32d992b2]">TestDiv0ByNot0</td> 
  <td>main@1529306539</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>16/09/28 18:44:33</td>   <td>190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTestParameterized.Clear()[pri:0, instance:unittesting.calculator.CalculatorTestParameterized@32d992b2]">&gt;&gt;Clear</td> 
<td>&nbsp;</td>  <td>main@1529306539</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>16/09/28 18:44:33</td>   <td>191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTestParameterized.TestDivNot0By0()[pri:0, instance:unittesting.calculator.CalculatorTestParameterized@32d992b2]">TestDivNot0By0</td> 
  <td>main@1529306539</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>16/09/28 18:44:33</td>   <td>226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTestParameterized.Clear()[pri:0, instance:unittesting.calculator.CalculatorTestParameterized@32d992b2]">&gt;&gt;Clear</td> 
<td>&nbsp;</td>  <td>main@1529306539</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>16/09/28 18:44:33</td>   <td>226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTestParameterized.TestDivNot0ByNot0(int)[pri:0, instance:unittesting.calculator.CalculatorTestParameterized@32d992b2]">TestDivNot0ByNot0</td> 
  <td>main@1529306539</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>16/09/28 18:44:33</td>   <td>232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTestParameterized.Clear()[pri:0, instance:unittesting.calculator.CalculatorTestParameterized@32d992b2]">&gt;&gt;Clear</td> 
<td>&nbsp;</td>  <td>main@1529306539</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>16/09/28 18:44:33</td>   <td>232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTestParameterized.TestSq0()[pri:0, instance:unittesting.calculator.CalculatorTestParameterized@32d992b2]">TestSq0</td> 
  <td>main@1529306539</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>16/09/28 18:44:33</td>   <td>265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTestParameterized.Clear()[pri:0, instance:unittesting.calculator.CalculatorTestParameterized@32d992b2]">&gt;&gt;Clear</td> 
<td>&nbsp;</td>  <td>main@1529306539</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>16/09/28 18:44:33</td>   <td>265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTestParameterized.TestSqNot0(int)[pri:0, instance:unittesting.calculator.CalculatorTestParameterized@32d992b2]">TestSqNot0</td> 
  <td>main@1529306539</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>16/09/28 18:44:33</td>   <td>267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTestParameterized.Clear()[pri:0, instance:unittesting.calculator.CalculatorTestParameterized@32d992b2]">&gt;&gt;Clear</td> 
<td>&nbsp;</td>  <td>main@1529306539</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>16/09/28 18:44:33</td>   <td>267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTestParameterized.TestSub(int)[pri:0, instance:unittesting.calculator.CalculatorTestParameterized@32d992b2]">TestSub</td> 
  <td>main@1529306539</td>   <td></td> </tr>
</table>
