<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>rs.ac.uns.ftn.kts.students.service.StudentServiceTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testFindByLastName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCalculateGradeNegative1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testFindOne</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testRemove</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testFindAllPageable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCalculateGradeNegative2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testFindAll</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testFindByCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCalculateGrade</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testAddNullCardNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testAdd</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testAddNonUniqueCardNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testUpdate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testRemoveNegative</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
