<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60af79">  <td>16/09/27 19:17:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentServiceTest.testAdd()[pri:0, instance:rs.ac.uns.ftn.kts.students.service.StudentServiceTest@1e127982]">testAdd</td> 
  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>16/09/27 19:17:19</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentServiceTest.testAddNonUniqueCardNumber()[pri:0, instance:rs.ac.uns.ftn.kts.students.service.StudentServiceTest@1e127982]">testAddNonUniqueCardNumber</td> 
  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>16/09/27 19:17:19</td>   <td>55</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentServiceTest.testAddNullCardNumber()[pri:0, instance:rs.ac.uns.ftn.kts.students.service.StudentServiceTest@1e127982]">testAddNullCardNumber</td> 
  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>16/09/27 19:17:19</td>   <td>58</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentServiceTest.testCalculateGrade()[pri:0, instance:rs.ac.uns.ftn.kts.students.service.StudentServiceTest@1e127982]">testCalculateGrade</td> 
  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>16/09/27 19:17:19</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentServiceTest.testCalculateGradeNegative1()[pri:0, instance:rs.ac.uns.ftn.kts.students.service.StudentServiceTest@1e127982]">testCalculateGradeNegative1</td> 
  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>16/09/27 19:17:19</td>   <td>69</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentServiceTest.testCalculateGradeNegative2()[pri:0, instance:rs.ac.uns.ftn.kts.students.service.StudentServiceTest@1e127982]">testCalculateGradeNegative2</td> 
  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>16/09/27 19:17:19</td>   <td>71</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentServiceTest.testFindAll()[pri:0, instance:rs.ac.uns.ftn.kts.students.service.StudentServiceTest@1e127982]">testFindAll</td> 
  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>16/09/27 19:17:19</td>   <td>74</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentServiceTest.testFindAllPageable()[pri:0, instance:rs.ac.uns.ftn.kts.students.service.StudentServiceTest@1e127982]">testFindAllPageable</td> 
  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>16/09/27 19:17:19</td>   <td>78</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentServiceTest.testFindByCard()[pri:0, instance:rs.ac.uns.ftn.kts.students.service.StudentServiceTest@1e127982]">testFindByCard</td> 
  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>16/09/27 19:17:19</td>   <td>81</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentServiceTest.testFindByLastName()[pri:0, instance:rs.ac.uns.ftn.kts.students.service.StudentServiceTest@1e127982]">testFindByLastName</td> 
  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>16/09/27 19:17:19</td>   <td>86</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentServiceTest.testFindOne()[pri:0, instance:rs.ac.uns.ftn.kts.students.service.StudentServiceTest@1e127982]">testFindOne</td> 
  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>16/09/27 19:17:19</td>   <td>94</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentServiceTest.testRemove()[pri:0, instance:rs.ac.uns.ftn.kts.students.service.StudentServiceTest@1e127982]">testRemove</td> 
  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>16/09/27 19:17:19</td>   <td>106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentServiceTest.testRemoveNegative()[pri:0, instance:rs.ac.uns.ftn.kts.students.service.StudentServiceTest@1e127982]">testRemoveNegative</td> 
  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>16/09/27 19:17:19</td>   <td>118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentServiceTest.testUpdate()[pri:0, instance:rs.ac.uns.ftn.kts.students.service.StudentServiceTest@1e127982]">testUpdate</td> 
  <td>main@846238611</td>   <td></td> </tr>
</table>
